@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --background-color: white; 
    --header-text-color:white;
    --secondary-color: hsl(233, 92%, 75%);
    --primarybutton-color:#FAC748;
    --box-shadow:2px 2px 2px lightgray;
    --text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);    
}

*{
    padding:0;
    margin:0; 
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    font-family: 'Hubot Sans', sans-serif;

}


header{
    background-color: black;
    height: 80px;
    padding: 40px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: var(--header-text-color);
    font-weight: 700;
}


.headermenu{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap:20px;
    list-style: none;
}

.headermenuitem{
    text-decoration: none;
    color:var(--header-text-color);
    padding: 4px 10px;
}


.headermenuitem:hover{
    background-color: var(--primarybutton-color);
    /* padding: 4px 10px; */
    border-radius: 5px;
}


.primary-button {
    text-decoration: none;
    padding: 20px 40px;
    margin: 30px;
    border-radius: 50px;
    font-weight:700;
    font-size:30px; 
    color:black;
    background-color: var(--primarybutton-color);
    display:inline-block;  
    box-shadow: var(--box-shadow); 
    font-size: 20px;
}


.primary-button:hover{
    background-color: white;
    font-weight: bold;
}